---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Mi Portafolio</a>
    </div>
    <div class="nav-links">
        <a href="/works/">Proyectos</a>
        <a href="/posts/">Posts</a>
        <ThemeIcon />
    </div>
</div>
